<table class="zebra-striped">
 <thead>
  <tr>
    <th>Conference</th>
    <th>Title</th>
  </tr>
  </thead>
  <tbody>
  <% articles.each do |article| -%>
   <tr>
    <td><%= article.conference.title rescue '' %></td>
    <td><%= link_to article.title, article_path(article) %>
    </tr>
    <% end -%>
   </tbody>
</table>
