<table class="zebra-striped">
  <thead>
    <tr>
      <th>Conference</th>
      <th>Title</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <% articles.each do |article| -%>
      <tr>
        <td><%= article.conference.title rescue '' %></td>
        <td><%= link_to article.title, article_path(article) %>
        <td><%= article.comments_count %>
      </tr>
    <% end -%>
  </tbody>
</table>
