// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *= require fileuploader

.article-info {
    h1 {
        font-family: 'PT Serif', Georgia, 'Helvetica Neue', sans-serif;
    }
    .row {
        margin-top: 10px;
        .label {
            margin-right: 5px;
        }
    }
}

.article-social {
    margin-top: 20px;
    .like {
        .like-list {
            font-size: 14px;
            display: inline;
        }
    }
    .comments {
        margin-top: 15px;
        .comment {
            margin-bottom: 10px;
            .comment-avatar {
                position: absolute;
                padding-left: 10px;
            }
            .comment-body {
                font-family: 'PT Serif', Georgia, 'Hiragino Sans GB', 'Helvetica Neue', sans-serif;
                .comment-header {
                    height: 14px;
                    padding: 10px;
                    border: 1px solid rgba(0, 0, 0, .15);
                    background: url('http://mediacdn.disqus.com/1326940420/images/themes/houdini/backgrounds-sprite.png') 0 0 repeat-x;
                    margin-bottom: 13px;
                    .comment-author {
                        font-weight: bold;
                        font-size: 13px;
                        color: #3B5998;
                    }
                }
                .comment-message {
                    font-size: 18px;
                    margin-bottom: 18px;
                }
                .comment-footer {
                    .post-date {
                        display: inline;
                    }
                    .comment-actions {
                        display: inline;
                    }
                }
            }
        }
    }

    .comment-reply {
        margin-top: 10px;
        .comment-avatar {
            padding-left: 10px;
            position: absolute;
        }
    }
}
