// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#author_search_field {
    margin-bottom: 10px;
}

h1.author {
    font-family: 'PT Serif', Georgia, 'Helvetica Neue', sans-serif;
    margin-bottom: 30px;
}

