@media screen {
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: bold;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url('Foydq9xJp--nfYIx2TBz9QFhaRv2pGgT5Kf0An0s4MM.woff') format('woff');
}
}
@media screen {
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: normal;
  src: local('PT Serif'), local('PTSerif-Regular'), url('sDRi4fY9bOiJUbgq53yZCfesZW2xOQ-xsNqO47m55DA.woff') format('woff');
}
}
@media screen {
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: bold;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url('QABk9IxT-LFTJ_dQzv7xpIbN6UDyHWBl620a-IRfuBk.woff') format('woff');
}
}
@media screen {
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: normal;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url('03aPdn7fFF3H6ngCgAlQzBsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}
}
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: bold;
  src: local('Cantarell Bold Oblique'), local('Cantarell-BoldOblique'), url('weehrwMeZBXb0QyrWnRwFRbnBKKEOwRKgsHDreGcocg.woff') format('woff');
}
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: normal;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url('V86VyqXbc09Sss3BPsMj17O3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: normal;
  src: local('Cantarell Oblique'), local('Cantarell-Oblique'), url('Qd6zZq_wf1596L3V_8MIs7rIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: bold;
  src: local('Cantarell Bold'), local('Cantarell-Bold'), url('http://Yir4ZDsCn4g1kWopdg-ehKRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
